<a href="https://colab.research.google.com/github/raja016956/Python-Notes/blob/master/5_31_24_Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Table of Content**

1. *_[Introduction](#introduction)_*
2. *_[Access your PC Information using Platform Library](#access_information)_*
3. *_[Integerated Development Environment (IDE) ](#IDE)_*
4. *_[First Program in Python](#first_program)_*
5. *_[Indentation](#indentation)_*
6. *_[Getting User Input](#user_input)_*
7. *_[Data Types in Python](#data_types_python)_*
8. *_[Basic Operators](#basic_operators)_*
9. *_[Strings](#str)_*
10. *_[Conditional Statements](#conditional_statement)_*
11.  *_[Loops](#loops)_*   
12. *_[Functions](#functions)_*
13. *_[Classes and Objects](#class)_*
14. *_[Dictionaries](#dictionary)_*
15. *_[List](#list)_*
16. *_[Modules and Packages](#module_package)_*
17. *_[File Handling](#file_handling)_*

## <p style="font-family:JetBrains Mono; font-weight:normal; letter-spacing: 1px; color:#207d06; font-size:100%; text-align:left;padding: 0px; border-bottom: 3px solid #207d06;">**1-Introduction**</p>


Python is a very simple language, and has a very straightforward syntax. It encourages programmers to program without boilerplate (prepared) code. There are two major Python versions, Python 2 and Python 3. Python 2 and 3 are quite different. This tutorial uses Python 3, because it more semantically correct and supports newer features.

Python is a high-level programming language that Google, Facebook, NASA, and almost all other multinational companies worldwide use. Python has overtaken every language in recent years and has become the most popular and widely used programming language globally.
Its popularity on the job market has grown to the extent that companies have made Python a requirement in their job postings. According to the Times of India, Python was among the top 5 highest-paid programming languages in 2021.
But what exactly is Python, and why has it suddenly become such a sought-after language?

#**1.1-Why is  ‚ÄòPython‚Äô?**

Python is an interpreted, object-oriented programming language created by Guido van Rossum in 1991.
Python can be used for everything from web development to Machine learning, Artificial intelligence, and Data Science.
Unlike some other programming languages, Python does not require you to worry about syntax. Writing in Python is almost equal to written English. You have to use the proper functions or "modules" and let Python do the rest.
The easy syntax of Python makes it great for beginners who are learning how to code and seasoned developers who want to quickly create software prototypes and earn a reasonable amount of income.
Without wasting further time, let us get into the real business

#**1.2-Why is it called ‚ÄòPython‚Äô?[4]**
While many people assume the name Python Programming comes from something related to the Python snake, it actually comes from the TV comedy series ‚ÄòMonty Python‚Äôs Flying Circus.‚Äô This series broadcast on the BBC channelin the United Kingdom in the 1970s and was a favorite of Guido Van Rossum‚Äôs. Because it was short, cryptic, and included the name of his favorite TV comedy show, he chose the name ‚ÄòPython.‚Äô

#**1.3-Python does not require a compiler[4]**
Python is a high-level, interpreted language that does not require a compiler, unlike other programming languages such as Java and C++.Python code is stored in a .py file, which serves as the Python engine and eliminates the need for a compiler.

#**1.4-Python is one of Google‚Äôs official programming languages[4]**
Python is one of the few programming languages that has been designated as an official Google language. Python became one of Google‚Äôs official programming languages due of its efficiency. It was advantageous to them because it is simple to use, even on large projects. Even YouTube is powered by Python programming.

#**1.5-Python is similar to English[4]**
Many people claim that Python is a simple language to learn. The fundamental reason for this claim is that Python is more similar to English than other programming languages. It‚Äôs simple to figure out what each line of code accomplishes. Everything is simple and straightforward.

#**1.6-Wide range of aspects[4]**
Python is a general-purpose programming language. In fact, it can be used in a wide range of coding scenarios like web development, artificial intelligence, machine learning, data analytics, internet of things and many more.

### Run the following cell to attempt quiz

In [ ]:
# @title **Introduction to Python Quiz**

score = 0

print("üêç Welcome to the Introduction to Python Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Python is mainly considered what type of language?\n"
"(a) Low-level language\n"
"(b) High-level language\n"
"(c) Machine language\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! Python is a high-level language.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python is a high-level programming language.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: Who created Python?\n"
"(a) Dennis Ritchie\n"
"(b) James Gosling\n"
"(c) Guido van Rossum\n"
"Your answer: "
)

if q2.lower() == "c":
    score += 1
    print("‚úÖ Correct! Guido van Rossum created Python in 1991.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python was created by Guido van Rossum.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Python 3 is preferred because:\n"
"(a) It is more semantically correct and supports new features\n"
"(b) It is older\n"
"(c) It runs only on Windows\n"
"Your answer: "
)

if q3.lower() == "a":
    score += 1
    print("‚úÖ Correct! Python 3 supports newer features.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python 3 is more modern and feature-rich.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: Python is named after:\n"
"(a) A snake\n"
"(b) A TV comedy show\n"
"(c) A scientist\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! It was named after 'Monty Python‚Äôs Flying Circus'.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: The name comes from a British TV comedy show.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Python is an interpreted language. This means:\n"
"(a) It requires a separate compiler before running\n"
"(b) It runs line by line\n"
"(c) It only runs on Linux\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! Python runs line by line (interpreted).")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Interpreted languages execute code line by line.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: Which of the following is NOT a use of Python?\n"
"(a) Machine Learning\n"
"(b) Web Development\n"
"(c) Only Hardware Repair\n"
"Your answer: "
)

if q6.lower() == "c":
    score += 1
    print("‚úÖ Correct! Python is not limited to hardware repair.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python is used in ML, AI, web, data science, and more.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: Why is Python considered beginner-friendly?\n"
"(a) It uses complex syntax\n"
"(b) It is similar to English\n"
"(c) It requires advanced math\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! Python syntax is similar to English.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python is easy because its syntax is simple and readable.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You have strong understanding of Python basics.")
elif score >= 4:
    print("üëç Good job! Review Python history and features.")
else:
    print("üìò Revise the introduction section and try again.")

![](https://drive.google.com/uc?export=view&id=1dGhEqYFL26I3zksGS6VGWMAfO6WM8kX5
)

# **Section 2-Access your PC Information using Platform Library**<a name='access_information'></a>

üìò **Explanation**

The platform library in Python provides functions to access information about your computer‚Äôs hardware and operating system.

In [2]:
import platform
# Retrun Machine Type
platform.machine()

'x86_64'

In [3]:
# retrun computer Name
platform.node()

'9256d64655b3'

In [4]:
# Return your current OS
platform.platform()

'Linux-6.6.105+-x86_64-with-glibc2.35'

In [5]:
# Retrun process name
platform.processor()

'x86_64'

In [6]:
# Retrun System release
platform.release()

'6.6.105+'

In [7]:
# Retrun OS name
platform.system()

'Linux'

In [8]:
# Retrun process name
platform.uname()

uname_result(system='Linux', node='9256d64655b3', release='6.6.105+', version='#1 SMP Thu Oct  2 10:42:05 UTC 2025', machine='x86_64')

## **Exercies**

Write a Python program to display your Python version using platform.python_version().

Print only the system name and release number.

Explore and print the platform.architecture() details.

### Run the following cell to attempt quiz

In [ ]:
# @title **Platform Library Quiz**

score = 0

print("üíª Welcome to the Platform Library Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which module is used to access system information in Python?\n"
"(a) system\n"
"(b) platform\n"
"(c) osinfo\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! The platform module provides system information.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: We use 'import platform' to access system details.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What does platform.system() return?\n"
"(a) Python version\n"
"(b) System name (Windows/Linux/Mac)\n"
"(c) Processor speed\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! It returns the OS name.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: platform.system() gives OS name like Linux or Windows.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which function returns the Python version?\n"
"(a) platform.python_version()\n"
"(b) platform.version()\n"
"(c) platform.release()\n"
"Your answer: "
)

if q3.lower() == "a":
    score += 1
    print("‚úÖ Correct! platform.python_version() shows Python version.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: python_version() returns your installed Python version.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does platform.release() return?\n"
"(a) Processor name\n"
"(b) OS release number\n"
"(c) Machine type\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! It returns system release number.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: release() gives OS version number.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Which function returns detailed system information (tuple)?\n"
"(a) platform.uname()\n"
"(b) platform.node()\n"
"(c) platform.machine()\n"
"Your answer: "
)

if q5.lower() == "a":
    score += 1
    print("‚úÖ Correct! uname() returns detailed system info.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: uname() returns system, node, release, version, machine, processor.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: If you want to print only system name and release, which two functions will you use?\n"
"(a) system() and release()\n"
"(b) machine() and processor()\n"
"(c) node() and architecture()\n"
"Your answer: "
)

if q6.lower() == "a":
    score += 1
    print("‚úÖ Correct! system() and release() give required info.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: system() gives OS name, release() gives version number.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: platform.architecture() mainly provides information about:\n"
"(a) File size\n"
"(b) 32-bit or 64-bit system\n"
"(c) RAM capacity\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! It shows system architecture like 32-bit or 64-bit.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: architecture() tells whether system is 32-bit or 64-bit.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand the Platform library very well.")
elif score >= 4:
    print("üëç Good job! Review system-related functions carefully.")
else:
    print("üìò Revise platform functions and try again.")

# **Section 3- Integrated Development Environment (IDE)**<a name='IDE'></a>

## **PyCharm**

Next up we have PyCharm, this is one of my favorite IDE‚Äôs I pretty much use for all of my tutorials. PyCharm is one of the largest IDE‚Äôs on this list but it offers a ton of features.

One of my favorite things with this IDE is running the code within the environment, this allows us to run line by line or the whole program right in the IDE. On top of this, PyCharm has all of the following features as well:

PyCharm is by far one of my favorite IDE‚Äôs To download for Python, download it here:

https://www.jetbrains.com/pycharm/

## **Visual Studio Code**

Next up we have Visual Studio Code, this is a very popular IDE built by Microsoft! This IDE is a multi language interpreter, so you can run code from multiple different languages, one of these languages is Python!

Visual Studio Code is an industry standard used at tons of different companies, so I would totally recommend learning it for sure! This is the link to download this software:

https://code.visualstudio.com/

![](https://drive.google.com/uc?export=view&id=1NSev_N3lLjUQZ5NFE8Kmm0jJWDfdAA5k)

##**- Install Jupyter Notebook**
in this machine learning project for beginners, we will use Jupyter Notebook for the development. Let‚Äôs see steps for the installation and configuration of Jupyter Notebook.

Using pip python package manager you can install Jupyter notebook:

In [ ]:
pip3 install notebook

And that‚Äôs it, you have installed jupyter notebook

After installing Jupyter notebook you can run the notebook server. To run the notebook, open terminal and type:

In [ ]:
# run inside terminal
jupyter notebook

It will start the notebook server at http://localhost:8888

In [ ]:
!git clone https://github.com/hussain0048/Python.git

## **Google CoLab**

Finally we have Google CoLab, one of my favorite IDE‚Äôs available right now. Google CoLab is a little bit different from the other IDE‚Äôs, there are no files to download, nothing to install, everything is ran within your browser!

![image.png]()

Another massive feature is that you get to have access to Google‚Äôs GPU‚Äôs for free! This allows you to run your code much faster compared to a CPU! That feature alone makes Google CoLab stand out over the other IDE‚Äôs. You can also share your code easily by sending them a link, very similar to sharing a Google Drive file to someone. If you want to learn more about Google CoLab, check out the link down below:

https://colab.research.google.com/notebooks/

## **Spyder**

Starting off we have Spyder, a very powerful IDE specifically tailored for data science. Unlike some other IDE‚Äôs on this list, Spyder allows you to turn different languages inside one software, you can also run code line by line, per cell or the whole file!

![image.png]()

My 2 favorite things about this IDE are the variable explorer and the plots being plotted straight in the side bar (unlike other IDE‚Äôs which print them out differently). Another massive feature about Spyder are the plugins, there are tons of plugins available for this software for a ton of different tasks, if you want to download this IDE check out the link below:

https://www.spyder-ide.org/

### Run the following cell to attempt quiz

In [ ]:
# @title **Integrated Development Environment (IDE) Quiz**

score = 0

print("üñ• Welcome to the IDE (Integrated Development Environment) Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which IDE is developed by JetBrains?\n"
"(a) PyCharm\n"
"(b) Spyder\n"
"(c) Google Colab\n"
"Your answer: "
)

if q1.lower() == "a":
    score += 1
    print("‚úÖ Correct! PyCharm is developed by JetBrains.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: PyCharm is created by JetBrains.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: Which IDE is built by Microsoft?\n"
"(a) PyCharm\n"
"(b) Visual Studio Code\n"
"(c) Jupyter Notebook\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! Visual Studio Code is built by Microsoft.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: VS Code is a Microsoft product.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which IDE runs completely inside a browser without installation?\n"
"(a) Spyder\n"
"(b) PyCharm\n"
"(c) Google Colab\n"
"Your answer: "
)

if q3.lower() == "c":
    score += 1
    print("‚úÖ Correct! Google Colab runs in the browser.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Google Colab does not require installation.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: Which IDE is especially popular for Data Science and has a Variable Explorer?\n"
"(a) Spyder\n"
"(b) VS Code\n"
"(c) Google Colab\n"
"Your answer: "
)

if q4.lower() == "a":
    score += 1
    print("‚úÖ Correct! Spyder is designed for data science.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Spyder is known for its variable explorer and plots.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Which command installs Jupyter Notebook using pip?\n"
"(a) pip install python\n"
"(b) pip3 install notebook\n"
"(c) install jupyter\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! pip3 install notebook installs Jupyter.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: The correct command is pip3 install notebook.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: How do you start Jupyter Notebook from terminal?\n"
"(a) run notebook\n"
"(b) start jupyter\n"
"(c) jupyter notebook\n"
"Your answer: "
)

if q6.lower() == "c":
    score += 1
    print("‚úÖ Correct! Use 'jupyter notebook' to start the server.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Type 'jupyter notebook' in terminal.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What is one major advantage of Google Colab?\n"
"(a) Requires powerful local CPU\n"
"(b) Free access to Google GPUs\n"
"(c) Only works offline\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! Colab provides free GPU access.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Colab gives access to Google GPUs for faster computation.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand IDE concepts very well.")
elif score >= 4:
    print("üëç Good job! Review IDE features and installation steps.")
else:
    print("üìò Revise IDE differences and commands.")

# **Section 4- First Program in Python**<a name='first_program'></a>

üìò Explanation

Every programming journey begins with printing a message to the screen.

The simplest directive in Python is the "print" directive - it simply prints out a line (and also includes a newline, unlike in C).For example, one difference between Python 2 and 3 is the print statement. In Python 2, the "print" statement is not a function, and therefore it is invoked without parentheses. However, in Python 3, it is a function, and must be invoked with parentheses.

In [ ]:
#To print a string in Python 3, just write:
print("This line will be printed.")

In [ ]:
print("Goodbye, World!")

In [14]:
!pip install colorama

Collecting colorama
  Downloading colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Installing collected packages: colorama
Successfully installed colorama-0.4.6

In [15]:
from colorama import Fore
print(Fore.RED+"Hellow world")
print(Fore.BLUE+"Hellow world")
print(Fore.GREEN+"Hellow world")

Hellow world
Hellow world
Hellow world

## **Exercies**

Print your name using Python.

Print: I am learning Python!

Print your name and age in a single line.

# **Section 5-Indentation** <a name='indentation'></a>
Python uses indentation for blocks, instead of curly braces. Both tabs and spaces are supported, but the standard indentation requires standard Python code to use four spaces. For example

üìò Explanation

Indentation (spaces at the start of a line) is used in Python to define code blocks.
Unlike other languages that use {}, Python uses whitespace.

In [ ]:
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

In [ ]:
x = 1
if x == 1:

## **Exercies**

Write an if statement that checks if 5 > 2 and prints ‚ÄúCorrect‚Äù.

Intentionally misalign the indentation and observe the error.

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 4 & 5 - First Program and Indentation Quiz**

score = 0

print("üêç Welcome to the First Program & Indentation Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which function is used to print output in Python 3?\n"
"(a) echo()\n"
"(b) print()\n"
"(c) display()\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! print() is used to display output.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: In Python 3, print() is a function.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What is the main difference between print in Python 2 and Python 3?\n"
"(a) Python 3 uses parentheses\n"
"(b) Python 2 uses parentheses\n"
"(c) There is no difference\n"
"Your answer: "
)

if q2.lower() == "a":
    score += 1
    print("‚úÖ Correct! Python 3 requires parentheses.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: In Python 3, print is a function and needs ().")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: What does the print() function automatically add at the end?\n"
"(a) A semicolon\n"
"(b) A newline\n"
"(c) A tab\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! print() adds a newline automatically.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: print() moves to a new line after output.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: Which library is used to print colored text in the example?\n"
"(a) numpy\n"
"(b) colorama\n"
"(c) matplotlib\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! colorama is used for colored output.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: colorama allows colored text in terminal.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Python uses ______ to define code blocks.\n"
"(a) Curly braces {}\n"
"(b) Semicolons\n"
"(c) Indentation (spaces)\n"
"Your answer: "
)

if q5.lower() == "c":
    score += 1
    print("‚úÖ Correct! Python uses indentation.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python defines blocks using whitespace.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: Standard Python indentation requires how many spaces?\n"
"(a) 2\n"
"(b) 4\n"
"(c) 8\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! Standard indentation is 4 spaces.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python style guide recommends 4 spaces.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What happens if indentation is incorrect in Python?\n"
"(a) Program runs normally\n"
"(b) IndentationError occurs\n"
"(c) It is ignored\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! Python raises IndentationError.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Incorrect indentation causes syntax errors.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand printing and indentation perfectly.")
elif score >= 4:
    print("üëç Good job! Review indentation and print differences.")
else:
    print("üìò Revise basic syntax and try again.")

# **Section 6- Getting User Input**<a name='user_input'></a>

The program asks the user to enter their name using input() and then prints a personalized greeting with print()

üìò Explanation

The input() function is used to take input from the user.

In [ ]:
# Get user input
name = input("Please enter your name: ")

# Greet the user
print(f"Hello, {user_name}! Nice to meet you!")

## **Exercies**

Ask the user for their age and print: You are 20 years old!

Ask for a favorite color and print: Wow, Blue is a nice color!

Write a program that asks for both name and age and prints them together.

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 6 - Getting User Input Quiz**

score = 0

print("‚å®Ô∏è Welcome to the User Input Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which function is used to take input from the user in Python?\n"
"(a) get()\n"
"(b) input()\n"
"(c) scan()\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! input() is used to take user input.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: input() allows the user to type data.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What type of value does input() return by default?\n"
"(a) Integer\n"
"(b) Float\n"
"(c) String\n"
"Your answer: "
)

if q2.lower() == "c":
    score += 1
    print("‚úÖ Correct! input() returns a string by default.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Even numbers entered by user are treated as strings.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which syntax is used for formatted string printing?\n"
"(a) print(name + age)\n"
"(b) print(f\"Hello {name}\")\n"
"(c) print.format(name)\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! f-strings are used for formatting.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: f-strings allow inserting variables inside {}.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What error will occur if you use a variable name that was not defined?\n"
"(a) TypeError\n"
"(b) NameError\n"
"(c) ValueError\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! Python raises NameError.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Using an undefined variable causes NameError.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: If you want the user's age as a number, what should you do?\n"
"(a) int(input())\n"
"(b) str(input())\n"
"(c) float(print())\n"
"Your answer: "
)

if q5.lower() == "a":
    score += 1
    print("‚úÖ Correct! int(input()) converts input to integer.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: input() returns string, so we convert using int().")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: Which of the following correctly prints both name and age together?\n"
"(a) print(f\"{name} is {age} years old\")\n"
"(b) print(name age)\n"
"(c) print(\"name age\")\n"
"Your answer: "
)

if q6.lower() == "a":
    score += 1
    print("‚úÖ Correct! f-strings allow combining variables.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Variables must be inside {} in f-strings.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/6\n")

if score == 6:
    print("üî• Excellent! You understand user input and formatting very well.")
elif score >= 3:
    print("üëç Good job! Review f-strings and type conversion.")
else:
    print("üìò Revise input() and variable usage.")

# **Section 7-DataTypes in Python**<a name='data_types_python'></a>
Python provides several built-in data types that can be assigned to variables. Each data type has its own characteristics and usage.

Data types define the kind of values a variable can hold.

Let‚Äôs explore some of the most commonly used data types in Python:

Python has several built-in data types. Let‚Äôs explore the most common ones.

## **7.1 Basic Data Types in Python:**

int ‚Üí Whole numbers (e.g., 10, -5)

float ‚Üí Decimal numbers (e.g., 3.14, -0.5)

str ‚Üí Text (e.g., "Hello", 'Python')

bool ‚Üí Logical values (True, False)

In [ ]:
# Basic variable assignment
age = 25
name = "Alice"
price = 99.99
is_python_fun = True

## **7.2-Dynamic Typing** <a name='numbers'></a>

Python is dynamically typed, meaning you don‚Äôt need to declare a variable‚Äôs type ‚Äî it is decided at runtime and can change later.

In [ ]:
# Reassign different types
value = 100         # Integer
value = "Python"    # Now string
value = [1, 2, 3]   # Now list

## **7.3- Type Conversion**

In [ ]:
num_str = str(42)    # "42"
str_num = int("123")  # 123
num_float = float(7) # 7.0

In [ ]:
int("25")        # 25 ‚Üí Convert to integer
float(7)         # 7.0 ‚Üí Convert to float
str(100)         # "100" ‚Üí Convert to string
list("hello")    # ['h', 'e', 'l', 'l', 'o']
tuple([1,2,3])   # (1, 2, 3)
set([1,2,2,3])   # {1, 2, 3}

**Type Checking**

In [ ]:
type(42)         # ‚Üí <class 'int'>
isinstance(3.14, float)  # ‚Üí True

True

In [ ]:
num = 42
print(type(num))          # <class 'int'>

name = "Alice"
print(isinstance(name, str))  # True

mixed_list = [1, "two", 3.0]
print(type(mixed_list))   # <class 'list'>

<class 'int'>
True
<class 'list'>

## **7.4 Common Methods**

In [ ]:
# String methods
name = "python"
upper_name = name.upper()  # "PYTHON"

# List methods
numbers = [1, 2, 3]
numbers.append(4)  # [1, 2, 3, 4]

# Dictionary methods
user = {"name": "Alice", "age": 30}
keys = user.keys()  # dict_keys(['name', 'age'])

## **7.5 Numbers** <a name='numbers'></a>
Python supports two types of numbers - integers and floating point numbers. (It also supports complex numbers, which will not be explained in this tutorial).

To define an integer, use the following syntax:

In [ ]:
myint = 7
print(myint)

7

In [ ]:
#To define a floating point number, you may use one of the following notations:
myfloat = 7.0
print(myfloat)
myfloats = float(7)
print(myfloats)

7.0
7.0

In [ ]:
# float variable
x = 5.0
print (x, type(x))

5.0 <class 'float'>

In [ ]:
# Integer variable
x = 5
print (x)
print (type(x))

5
<class 'int'>

In [ ]:
# int variable
x = 5
print (x, type(x))

5 <class 'int'>

In [ ]:
# String variable
x = "hello"
print (x)
print (type(x))

hello
<class 'str'>

In [ ]:
# text variable
x = "5"
print (x, type(x))

In [ ]:
# boolean variable
x = True
print (x, type(x))

True <class 'bool'>

## **7.6 Strings**<a name='string'></a>
Strings are defined either with a single quote or a double quotes.The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

üìò Explanation

Text values inside `" "` or `' '`.

In [ ]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

In [ ]:
my_string = "Python is my favorite programming language!"

In [ ]:
my_string

'Python is my favorite programming language!'

In [ ]:
type(my_string)

str

In [ ]:
len(my_string)

43

> ` str.replace() `

In [ ]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [ ]:
my_string.replace("a", "?")
print(my_string)

Python is my favorite programming language!

In [ ]:
my_modified_string = my_string.replace("is", "will be")
print(my_modified_string)

Python will be my favorite programming language!

> `str.join()`

In [ ]:
pandas = "pandas"
numpy = "numpy"
requests = "requests"
cool_python_libs = ", ".join([pandas, numpy, requests])

In [ ]:
print(f"Some cool python libraries: {cool_python_libs}")

Some cool python libraries: pandas, numpy, requests

In [ ]:
mixed_case = "PyTHoN hackER"
mixed_case.upper()
mixed_case.lower()
mixed_case.title()

'Python Hacker'

### **Exercies**

Store your name in a variable and print it.

Concatenate two strings.

Find the length of a string using len().

## **7.7 Lists** <a name='lists'></a>

A list is an ordered, changeable collection used to store multiple items.

In [ ]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Create a list of strings
strings = ["hello", "world", "python"]

# Create a list of lists
nested_list = [[1, 2, 3], ["a", "b", "c"]]
# Print the first element in the numbers list
print(numbers[0])

### **Exercies**

Create a list of 5 numbers.

Print the 2nd and last element.

Add a new number to the list.

## **7.8 Tuples**<a name='tuples'></a>

---
A tuple is an ordered, unchangeable (immutable) collection.

In [ ]:
# Create a tuple of numbers
numbers = (1, 2, 3, 4, 5)

# Create a tuple of strings
strings = ("hello", "world", "python")

# Create a tuple of tuples
nested_tuple = ((1, 2, 3), ("a", "b", "c"))

### **Exercies**

üìù Exercises

Create a tuple of 4 cities.

Print the 1st and 3rd city.

Try changing one item and observe the error.

## **7.9 Dictionaries**<a name='dictionaries'></a>

A dictionary is an unordered collection that stores data in key‚Äìvalue pairs

In [ ]:
dict = {
  "name": "John Doe",
  "age": 30,
  "occupation": "Software Engineer"
}

In [ ]:
print(dict["name"])

John Doe

## **7.10 Sets**<a name='sets'></a>

A set is an unordered collection of unique items.

In [ ]:
set1 = {1, 2, 3, 4, 5}

In [ ]:
set1.add(6)

In [ ]:
if 3 in set1:
  print("3 is in the set")

### **Exercies**

üìù Exercises

Create a set with duplicates and see the result.

Add a new element.

Find union and intersection of two sets.

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 7 - Data Types in Python Quiz**

score = 0

print("üìä Welcome to the Data Types in Python Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which data type stores whole numbers?\n"
"(a) float\n"
"(b) int\n"
"(c) str\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! int stores whole numbers.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: int is used for whole numbers.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What is the data type of 3.14?\n"
"(a) int\n"
"(b) float\n"
"(c) bool\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! 3.14 is a float.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Decimal numbers are float.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Python is dynamically typed. This means:\n"
"(a) Variables must be declared before use\n"
"(b) Variable type can change at runtime\n"
"(c) Python is static\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! Variable type can change.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python decides type at runtime.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does int('25') return?\n"
"(a) '25'\n"
"(b) 25\n"
"(c) 25.0\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! It converts string to integer.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: int() converts string to integer.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Which function checks the type of a variable?\n"
"(a) check()\n"
"(b) type()\n"
"(c) isinstance()\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! type() returns variable type.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: type() shows data type.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: Which method converts string to uppercase?\n"
"(a) upper()\n"
"(b) capitalize()\n"
"(c) append()\n"
"Your answer: "
)

if q6.lower() == "a":
    score += 1
    print("‚úÖ Correct! upper() converts to uppercase.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: upper() changes text to capital letters.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: Lists are:\n"
"(a) Ordered and changeable\n"
"(b) Unordered and unchangeable\n"
"(c) Immutable\n"
"Your answer: "
)

if q7.lower() == "a":
    score += 1
    print("‚úÖ Correct! Lists are ordered and mutable.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Lists can be modified.")

# ------------------ Q8 ------------------
q8 = input(
"\nQ8: Tuples are:\n"
"(a) Changeable\n"
"(b) Immutable\n"
"(c) Key-value pairs\n"
"Your answer: "
)

if q8.lower() == "b":
    score += 1
    print("‚úÖ Correct! Tuples cannot be changed.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Tuples are immutable.")

# ------------------ Q9 ------------------
q9 = input(
"\nQ9: Which data type stores key-value pairs?\n"
"(a) List\n"
"(b) Dictionary\n"
"(c) Set\n"
"Your answer: "
)

if q9.lower() == "b":
    score += 1
    print("‚úÖ Correct! Dictionaries store key-value pairs.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Dictionaries use key:value format.")

# ------------------ Q10 ------------------
q10 = input(
"\nQ10: What is special about sets?\n"
"(a) They allow duplicates\n"
"(b) They store only unique values\n"
"(c) They are ordered\n"
"Your answer: "
)

if q10.lower() == "b":
    score += 1
    print("‚úÖ Correct! Sets store unique values only.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Sets remove duplicates automatically.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/10\n")

if score == 10:
    print("üî• Excellent! You mastered Python data types.")
elif score >= 6:
    print("üëç Good job! Review conversion and collections.")
else:
    print("üìò Revise basic data types and try again.")

# **Section 8-Basic Operators**<a name='basic_operators'></a>
This section explains how to use basic operators in Python.

Operators in Python allow you to perform calculations and logical comparisons.

## **8.1 Arithmetic Operators**<a name='arthimetic_operators'></a>
Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [ ]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [ ]:
# Example usage of arithmetic operators
number = 1 + 2 * 3 / 4.0
print(number)
a = 10
b = 3
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
modulo = a % b
exponentiation = a ** b
floor_division = a // b
print(addition)         # Output: 13
print(subtraction)      # Output: 7
print(multiplication)   # Output: 30
print(division)         # Output: 3.3333333333333335
print(modulo)           # Output: 1
print(exponentiation)   # Output: 1000
print(floor_division)   # Output: 3

2.5
13
7
30
3.3333333333333335
1
1000
3

In [ ]:
print(10 + 3)   # Addition ‚Üí 13
print(10 - 3)   # Subtraction ‚Üí 7
print(10 * 3)   # Multiplication ‚Üí 30
print(10 ** 3)  # Exponentiation ‚Üí 1000
print(10 / 3)   # Division ‚Üí 3.333...
print(10 // 3)  # Floor Division ‚Üí 3
print(10 % 3)   # Modulus ‚Üí 1

13
7
30
1000
3.3333333333333335
3
1

In [ ]:
print(type(number))

<class 'float'>

In [ ]:
# Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder
remainder = 11 % 3
print(remainder)

2

In [ ]:
# Using two multiplication symbols makes a power relationship.
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

## **8.2 Comparison Operators**<a name='comparison_operators'></a>

In [ ]:
# Example usage of comparison operators
a = 5
b = 10

print(a == b)     # Output: False
print(a != b)     # Output: True
print(a > b)      # Output: False
print(a < b)      # Output: True
print(a >= b)     # Output: False
print(a <= b)     # Output: True

False
True
False
True
False
True

In [ ]:
print(5 == 5)    # Equal ‚Üí True
print(5 != 3)    # Not Equal ‚Üí True
print(5 > 3)     # Greater Than ‚Üí True
print(5 <= 3)    # Less or Equal ‚Üí False
print("a" == "A")# Case-sensitive ‚Üí False
print(1.0 == 1)  # Value comparison ‚Üí True

True
True
True
False
False
True


## **8.3 Logical Operators**<a name='logical_operators'></a>

In [ ]:
x = 5
y = 10

print(x > 0 and y < 20)  # True
print(x > 0 or y < 20)   # True
print(not(x > 0))        # False

True
True
False

In [ ]:
age = 25
has_license = True

# And/Or combinations
can_drive = age >= 18 and has_license
discount = age <= 12 or age >= 65

# Truthy/Falsy evaluation
name = ""
if not name:
    print("Name is required")

Name is required

## **8.4 Assignment Operators**<a name='assignment_operators'></a>

In [ ]:
x = 5
x += 3  # Equivalent to x = x + 3
print(x)  # Output: 8

y = 10
y -= 5  # Equivalent to y = y - 5
print(y)  # Output: 5

8
5

**Multiple Assignment**

In [ ]:
# Assign multiple variables
x, y, z = 1, 2, 3

# Swap values
a, b = 10, 20
a, b = b, a  # a=20, b=10

In [ ]:
x = 5
x += 3   # x = x + 3 ‚Üí 8
x -= 2   # x = x - 2 ‚Üí 6
x *= 4   # x = x * 4 ‚Üí 24
x /= 3   # x = x / 3 ‚Üí 8.0
x **= 2  # x = x ** 2 ‚Üí 64.0
x %= 5   # x = x % 5 ‚Üí 4.0

## **8.5 Bitwise Operators**<a name='bit_operators'></a>

In [ ]:
x = 5  # Binary representation: 0101
y = 3  # Binary representation: 0011

print(x & y)   # Bitwise AND:    0001 (Decimal: 1)
print(x | y)   # Bitwise OR:     0111 (Decimal: 7)
print(x ^ y)   # Bitwise XOR:    0110 (Decimal: 6)
print(~x)      # Bitwise NOT:    -6 (Decimal: -6)
print(x << 1)  # Left Shift:     1010 (Decimal: 10)
print(x >> 1)  # Right Shift:    0010 (Decimal: 2)

In [ ]:
a = 60    # 0011 1100
b = 13    # 0000 1101

print(a & b)   # AND ‚Üí 12 (0000 1100)
print(a | b)   # OR ‚Üí 61 (0011 1101)
print(a ^ b)   # XOR ‚Üí 49 (0011 0001)
print(~a)      # NOT ‚Üí -61
print(a << 2)  # Shift left ‚Üí 240
print(a >> 2)  # Shift right ‚Üí 15

12
61
49
-61
240
15

## **8.6 Identity operators**<a name='identify_operators'></a>

In [ ]:
# Integers (small integers are often stored as singletons)
a = 5
b = 5
print(a is b)  # True (they might share the same memory location)

# Strings (immutable, often reused if the same value exists)
c = "hello"
d = "hello"
print(c is d)  # True (they might share the same memory location)

# Lists (mutable, each list has its own memory location)
e = [1, 2, 3]
f = [1, 2, 3]
print(e is f)  # False (even though they have the same values, they are different objects)

# Checking with `id()`
print(id(a))  # Same for `a` and `b` if they share memory
print(id(c))  # Same for `c` and `d` if they share memory
print(id(e))  # Different for each `list` object

True
True
False
133175360586096
133175070111984
133175067211776

In [ ]:
a = [1,2,3]
b = [1,2,3]
print(a is b)     # False (different objects)
print(a == b)     # True (same values)

x = None
print(x is None)  # True

False
True
True

## **8.7 Membership Operators**<a name='member_operators'></a>

In [ ]:
my_list = [1, 2, 3, 4]
print(2 in my_list)  # True

my_string = "Hello World!"
print("lo" in my_string)  # True

my_tuple = (5, 7, 9)
print(7 in my_tuple)  # True

my_set = {10, 12, 14}
print(12 in my_set)  # True

my_dict = {"name": "Alice", "age": 30}
print("Alice" in my_dict)  # True (checks keys, not values)

True
True
True
True
False

In [ ]:
colors = ["red", "green", "blue"]
print("green" in colors)    # True
print("yellow" not in colors) # True

text = "Hello World"
print("World" in text)      # True

True
True
True

##**8.8  Using Operators with Strings** <a name='operators_with_strings'></a>
Python supports concatenating strings using the addition operator:

In [ ]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [ ]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

## **8.9 Using Operators with Lists**<a name='operators_with_lists'></a>

In [ ]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

In [19]:
# Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## **8.10 Order of the operator**


| Rank | Operator(s) | Description |
| :--- | :--- | :--- |
| **1** | `( )` | Parentheses |
| **2** | `**` | Exponentiation |
| **3** | `+x`, `-x`, `~x` | Unary Plus, Minus, and Bitwise NOT |
| **4** | `*`, `/`, `//`, `%` | Multiplication, Division, Floor Div, Modulo |
| **5** | `+`, `-` | Addition and Subtraction |
| **6** | `<<`, `>>` | Bitwise Left and Right Shifts |
| **7** | `&` | Bitwise AND |
| **8** | `^` | Bitwise XOR |
| **9** | `\|` | Bitwise OR |
| **10** | `<`, `<=`, `>`, `>=`, `==`, `!=` | Comparisons |
| **11** | `is`, `is not`, `in`, `not in` | Identity and Membership |
| **12** | `not` | Logical NOT |
| **13** | `and` | Logical AND |
| **14** | `or` | Logical OR |
| **15** | `:=` | Assignment Expression (Walrus) |

## **8.11 Math Library**

In [21]:
import math

print('Square root of 16 is: {}'.format(math.sqrt(16)))
print('3 raised to the power of 3 is: {}'.format(math.pow(3, 3)))
print('Absolute value of -10 is: {}'.format(math.fabs(-10))) # !!!!!
print('Factorial of 5 is: {}'.format(math.factorial(5)))
print('Natural logarithm of 2 is: {}'.format(math.log(2)))
print('Base-10 logarithm of 100 is: {}'.format(math.log10(100)))
print('Exponential of 1 is: {}'.format(math.exp(1)))
print('Value of the mathematical constant PI is: {}'.format(math.pi))
print('Value of the mathematical constant E is: {}'.format(math.e))

Square root of 16 is: 4.0
3 raised to the power of 3 is: 27.0
Absolute value of -10 is: 10.0
Factorial of 5 is: 120
Natural logarithm of 2 is: 0.6931471805599453
Base-10 logarithm of 100 is: 2.0
Exponential of 1 is: 2.718281828459045
Value of the mathematical constant PI is: 3.141592653589793
Value of the mathematical constant E is: 2.718281828459045

## **Exercies**

### üìù Exercise 1
 Write a program that takes two numbers and prints:
 Addition, Subtraction, Multiplication, and Division

In [ ]:
# try yourself
#..........

In [ ]:
# @title ```Solution:```

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

### üìù Exercise 2
 Check if a number is even or odd using modulo operator

In [ ]:
# try yourself
#..........

In [ ]:
# @title ```Solution:```

num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 8 - Basic Operators Quiz**

score = 0

print("‚ûï Welcome to the Basic Operators Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: What is the result of 10 // 3?\n"
"(a) 3.33\n"
"(b) 3\n"
"(c) 1\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! Floor division removes decimal part.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 10 // 3 = 3")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What does 10 % 3 return?\n"
"(a) 3\n"
"(b) 1\n"
"(c) 0\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! Modulus gives remainder.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 10 % 3 = 1")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which operator is used for exponentiation?\n"
"(a) ^\n"
"(b) **\n"
"(c) //\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! ** is used for powers.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 2 ** 3 = 8")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What is the result of 5 == 5?\n"
"(a) False\n"
"(b) True\n"
"(c) Error\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! 5 equals 5.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: == checks equality.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Which logical operator returns True if both conditions are True?\n"
"(a) or\n"
"(b) and\n"
"(c) not\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'and' requires both conditions to be True.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'and' returns True only if both are True.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: What does 'is' operator check?\n"
"(a) Value equality\n"
"(b) Memory identity\n"
"(c) Type conversion\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'is' checks object identity.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'is' checks if two variables refer to same object.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What does 'in' operator check?\n"
"(a) Arithmetic operation\n"
"(b) Membership\n"
"(c) Assignment\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'in' checks membership.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'in' checks if value exists in collection.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand Python operators very well.")
elif score >= 4:
    print("üëç Good job! Review operator types and precedence.")
else:
    print("üìò Revise arithmetic, logical, and comparison operators.")

# **Section 9- String**<a name='str'></a>

## **9.1 String Formatting** <a name='str_format'></a>

Python uses C-style string formatting to create new, formatted strings. The `%` operator is used to format a set of variables enclosed in a `tuple` (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like `%s` and `%d`.

Let's say you have a variable called `name` with your user name in it, and you would then like to print(out a greeting to that user.)

In [ ]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [ ]:
name = "Bob"
age = 25
print(f"{name} is {age} years old")  # Bob is 25 years old

Bob is 25 years old

To use two or more argument specifiers, use a tuple (parentheses):

In [ ]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string. For example

In [ ]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

Here are some basic argument specifiers you should know:

| Specifier | Type | Description |
| :--- | :--- | :--- |
| `%s` | **String** | Strings or objects with string representations |
| `%d` | **Integer** | Decimal integers |
| `%f` | **Float** | Floating point numbers |
| `%.<n>f` | **Precision** | Floats with `<n>` digits after the decimal |
| `%x` | **Hex (lower)** | Integers in lowercase hexadecimal |
| `%X` | **Hex (upper)** | Integers in uppercase hexadecimal |

##**9.2 Basic String Operations**<a name='string_operations'></a>
Strings are bits of text. They can be defined as anything between quotes:

In [ ]:
astring = "Hello world!"
astring2 = 'Hello world!'

As you can see, the first thing you learned was printing a simple sentence. This sentence was stored by Python as a string. However, instead of immediately printing strings out, we will explore the various things you can do to them. You can also use single quotes to assign a string. However, you will face problems if the value to be assigned itself contains single quotes.For example to assign the string in these bracket(single quotes are `' '`) you need to use double quotes only like this

In [ ]:
astring = "Hello world!"
print("single quotes are ' '")
print(len(astring))

single quotes are ' '
12

In [ ]:
astring = "Hello world!"
print(astring.index("o"))

4

That prints out 4, because the location of the first occurrence of the letter `o` is 4 characters away from the first character. Notice how there are actually two `o's` in the phrase - this method only recognizes the first.

But why didn't it print out 5? Isn't `o` the fifth character in the string? To make things more simple, Python (and most other programming languages) start things at 0 instead of 1. So the index of `o` is 4.

In [ ]:
astring = "Hello world!"
print(astring.count("H"))

1

For those of you using silly fonts, that is a lowercase `L`, not a number one. This counts the number of `l's` in the string. Therefore, it should print 3.

In [ ]:
astring = "Hello world!"
print(astring[3:7])

lo w

This prints a slice of the string, starting at index 3, and ending at index 6. But why 6 and not 7? Again, most programming languages do this - it makes doing math inside those brackets easier.

If you just have one number in the brackets, it will give you the single character at that index. If you leave out the first number but keep the colon, it will give you a slice from the start to the number you left in. If you leave out the second number, it will give you a slice from the first number to the end.

You can even put negative numbers inside the brackets. They are an easy way of starting at the end of the string instead of the beginning. This way, -3 means "3rd character from the end".

In [ ]:
astring = "Hello world!"
print(astring[3:7:2])

l

This prints the characters of string from 3 to 7 skipping one character. This is extended slice syntax. The general form is `[start:stop:step]`.

In [ ]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

Note that both of them produce same output

There is no function like strrev in C to reverse a string. But with the above mentioned type of slice syntax you can easily reverse a string like this

In [ ]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [ ]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

These make a new string with all letters converted to uppercase and lowercase, respectively.

In [ ]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

This is used to determine whether the string starts with something or ends with something, respectively. The first one will print True, as the string starts with `"Hello"`. The second one will print False, as the string certainly does not end with "asdfasdfasdf"

In [ ]:
astring = "Hello world!"
afewwords = astring.split(" ")

This splits the string into a bunch of strings grouped together in a list. Since this example splits at a space, the first item in the list will be `"Hello"`, and the second will be `"world!"`.

## **9.3 Concatenation**

In [ ]:
name = "John"
greeting = "Hello," + name + "!"
print(greeting)  # Output: Hello, John!
# Using str.join() method
languages = ['Python', 'Java', 'C++']
joined_string = ','.join(languages)
print(joined_string)  # Output: Python, Java, C++

Hello,John!
Python,Java,C++

 **String Length**

In [ ]:
message = "Hello, World!"
length = len(message)
print(length)  # Output: 13

13

**Accessing Characters**

In [ ]:
message = "Hello, World!"
first_char = message[0]
last_char = message[-1]
print(first_char)  # Output: H
print(last_char)  # Output: !

H
!

**String Slicing**

In [ ]:
message = "Hello, World!"
slice = message[7:12]
print(slice)  # Output: World

World

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 9 - String Quiz**

score = 0

print("üßµ Welcome to the Python String Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which operator is used in C-style string formatting?\n"
"(a) +\n"
"(b) %\n"
"(c) &\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! % is used for formatting.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: C-style formatting uses % operator.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What does %d represent in string formatting?\n"
"(a) String\n"
"(b) Integer\n"
"(c) Float\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! %d represents integer.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: %d is used for integers.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Python string indexing starts from:\n"
"(a) 0\n"
"(b) 1\n"
"(c) -1\n"
"Your answer: "
)

if q3.lower() == "a":
    score += 1
    print("‚úÖ Correct! Python indexing starts at 0.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: First character index is 0.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does text[::-1] do?\n"
"(a) Makes uppercase\n"
"(b) Reverses the string\n"
"(c) Deletes last character\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! It reverses the string.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: [::-1] reverses the string.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: What does len('Hello') return?\n"
"(a) 4\n"
"(b) 5\n"
"(c) 6\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! Length of 'Hello' is 5.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: len() counts characters.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: Which method converts string to uppercase?\n"
"(a) upper()\n"
"(b) capitalize()\n"
"(c) append()\n"
"Your answer: "
)

if q6.lower() == "a":
    score += 1
    print("‚úÖ Correct! upper() makes text capital.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: upper() converts all letters to uppercase.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What does split(' ') do?\n"
"(a) Joins words\n"
"(b) Splits string into list\n"
"(c) Counts spaces\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! split() divides string into list.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: split() returns a list of words.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand Python strings very well.")
elif score >= 4:
    print("üëç Good job! Review slicing and formatting.")
else:
    print("üìò Revise string methods and try again.")

# **Section 10- Conditions Statements**<a name='conditional_statement'></a>
Python uses boolean variables to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

In [ ]:
x = 10
if x > 0:
 print("x is positive")
elif x < 0:
 print("x is negative")
else:
 print("x is zero")

x is positive

In [ ]:
x = 20
if x > 10:
    print("Greater than 10")
elif x == 10:
    print("Exactly 10")
else:
    print("Less than 10")

Greater than 10

**üî∏ Multiple Conditions**

In [ ]:
age = 25
has_license = True

if age >= 18 and has_license:
    print("Can drive")
elif age >= 16 or has_license:
    print("Learner's permit")
else:
    print("Cannot drive")

Can drive

## **10.1 If Statement**<a name='if_statement'></a>

In [ ]:
# if statement
i = 10
if i>5:
    print('i is greater than 5..')

i is greater than 5..

## **10.2 If-else Statement**<a name='if_else_statement'></a>

In [ ]:
i = 1
if i>5:
    print('i is greater than 5..')
else:
    print('i is less than 5')

## **10.3 If-elif-else statement**<a name='if_elif_else_statement'></a>

In [ ]:
i = 10
if i==5:
    print('i is equal 5..')
elif i==10:
    print('i is equal 10..')
else:
    print('i is other..')

## **10.4 If-elif-else statement** <a name='if_elif_else_statement'></a>

In [ ]:
i = 10
if i==5:
    print('i is equal 5..')
elif i==10:
    print('i is equal 10..')
else:
    print('i is other..')

i is equal 10..

## **10.5 Nested-if statements:**<a name='nested_if_statement'></a>

In [ ]:
# Program to determine a student's grade based on their marks

marks = int(input("Enter the student's marks: "))

if marks >= 90:
    grade = 'A'
    if marks >= 95:
        distinction = True
    else:
        distinction = False
elif marks >= 80:
    grade = 'B'
    distinction = False
elif marks >= 70:
    grade = 'C'
    distinction = False
elif marks >= 60:
    grade = 'D'
    distinction = False
else:
    grade = 'F'
    distinction = False

print("Grade:", grade)

if distinction:
    print("Distinction achieved!")

Enter the student's marks: 34
Grade: F

In [ ]:
num = 15
if num > 0:
    if num % 2 == 0:
        print("Positive even number")
    else:
        print("Positive odd number")
else:
    print("Non-positive number")

Positive odd number

## **10.6 Short hand if statement**:<a name='if_short_hand'></a>

In [ ]:
# Short hand if statement

i = 10
if i<15: print('i less than 15..')

i less than 15..

In [ ]:
# Short hand if-else statement

i = 10
print(True) if i==10 else print(False)

True

In [ ]:
# Short-hand if-else
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)  # Adult

Adult

In [ ]:
# match-case statement

flag = int(input('Enter num: '))

match flag:
    case 5 :
        print('Flag = 5')
    case 10 :
        print('Flag = 10')
    case 15 :
        print('Flag = 15')
    case 20 :
        print('Flag = 20')
    case _ :
        print('Not matched')

Enter num: 4
Not matched

## **10.7 Indentation**<a name='indent'></a>

In [ ]:
password = input("Please type in a password: ")

if password == "kittycat":
    print("You knew the password!")
    print("You must be either the intended user...")
    print("...or quite an accomplished hacker.")

print("The program has finished its execution. Thanks and bye!")

Please type in a password: kittycat
You knew the password!
You must be either the intended user...
...or quite an accomplished hacker.
The program has finished its execution. Thanks and bye!

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

Notice that variable assignment is done using a single equals operator ` = `, whereas comparison between two variables is done using the double equals operator` == `. The ` not equals ` operator is marked as ` != `.

## **10.8  Boolean operators** <a name='boolean_operators'></a>
The `and` and `or` boolean operators allow building complex boolean expressions, for example:

In [ ]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

## **10.9 The `in` operator**<a name='in_operator'></a>
The `in` operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [ ]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Python uses indentation to define code blocks, instead of brackets. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent. Notice that code blocks do not need any termination.

Here is an example for using Python's `if` statement using code blocks:

In [ ]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [ ]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

A statement is evaulated as true if one of the following is correct:
1. The `True` boolean variable is given, or calculated using an expression, such as an arithmetic comparison.

2. An object which is not considered `empty` is passed.

Here are some examples for objects which are considered as empty:
1. An empty string: `""`
2. An empty list:` [] `
3. The number zero: `0 `
4. The false boolean variable: `False`

## **10.10 The `is` operator**<a name='is_operator'></a>
Unlike the double equals operator `==`, the **`is`** operator does not match the values of the variables, but the instances themselves. For example:

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

True
False

## **10.11 The `not` operator**<a name='not_operator'></a>
Using **`not`** before a boolean expression inverts it:

In [ ]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 10 - Conditional Statements Quiz**

score = 0

print("üîÄ Welcome to the Conditional Statements Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which keyword is used for multiple condition checking?\n"
"(a) else\n"
"(b) elif\n"
"(c) case\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! elif checks additional conditions.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: elif stands for 'else if'.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What does '==' operator do?\n"
"(a) Assign value\n"
"(b) Compare values\n"
"(c) Check identity\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! == compares values.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: '=' assigns, '==' compares.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: What does '!=' mean?\n"
"(a) Equal\n"
"(b) Not equal\n"
"(c) Greater than\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! != means not equal.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: != checks inequality.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: Which operator checks object identity?\n"
"(a) ==\n"
"(b) is\n"
"(c) !=\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'is' checks identity.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'is' checks if two variables refer to same object.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Which boolean operator requires BOTH conditions to be True?\n"
"(a) or\n"
"(b) and\n"
"(c) not\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'and' requires both True.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'and' returns True only if both are True.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: What does 'not False' evaluate to?\n"
"(a) False\n"
"(b) True\n"
"(c) Error\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! not False is True.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'not' reverses boolean value.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What happens if indentation is incorrect in if statement?\n"
"(a) Program runs normally\n"
"(b) IndentationError\n"
"(c) It is ignored\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! Python raises IndentationError.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python uses indentation to define blocks.")

# ------------------ Q8 ------------------
q8 = input(
"\nQ8: Which statement is used in Python 3.10+ for pattern matching?\n"
"(a) switch\n"
"(b) match-case\n"
"(c) case-when\n"
"Your answer: "
)

if q8.lower() == "b":
    score += 1
    print("‚úÖ Correct! match-case is Python's pattern matching.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: match-case introduced in Python 3.10.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/8\n")

if score == 8:
    print("üî• Excellent! You understand conditional logic very well.")
elif score >= 5:
    print("üëç Good job! Review boolean operators and identity.")
else:
    print("üìò Revise if-elif-else and logical operators.")

#**Section 11- Loops**<a name='loops'></a>
A loop is used to repeat a block of code multiple times until a condition is met.

There are two types of loops in Python.

 **For Loop** and **While Loop**.

## **11.1 `For` Loops**<a name='for_loop'></a>
For loops iterate over a given sequence. Here is an example:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
 print(fruit)

apple
banana
cherry

In [ ]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

For loops can iterate over a sequence of numbers using the **`range`** and **`xrange`** functions. The difference between range and xrange is that the range function returns a **`new list`** with numbers of that specified range, whereas xrange returns **`an iterator`**, which is more efficient. (Python 3 uses the range function, which acts like xrange). Note that the range function is zero based.

In [ ]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

3
4
5

In [ ]:
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

## **11.2 `while loops`**<a name='while_loop'></a>
While loops repeat as long as a certain boolean condition is met. For example:

In [ ]:
# Prints out 0,1,2,3,4
count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [ ]:
# While loop
count = 1
while count<5:
    print(count)
    count += 1

1
2
3
4

In [ ]:
# While loop with else block
count = 1
while count<5:
    print(count)
    count += 1
else:
    print('End of else')

1
2
3
4
End of else

In [ ]:
# Infinite While Loop
count = 1
while True:
    print(count, end=' ')
    count += 1

## **11.3 `Break` and `Continue` statements**<a name='break_continue_statement'></a>
break is used to exit a for loop or a while loop, whereas continue is used to skip the current block, and return to the **`for`** or **`while`** statement. A few examples:

In [ ]:
# Prints out 0,1,2,3,4
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

In [ ]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

##**11.4 Can we use `"else"` clause for loops?**<a name='loop_else'></a>
Unlike languages like C, CPP.. we can use else for loops. When the loop condition of **`for`** or **`while`** statement fails then code part in **`else`** is executed. If break statement is executed inside for loop then the **`else`** part is skipped. Note that **`else`** part is executed even if there is a continue statement.

In [ ]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

## **11.5 Looping Control Statements**<a name='loop_control'>

In [ ]:
for i in range(1,11):
    if i%2==1:
        continue
    print(i)

2
4
6
8
10

In [ ]:
for i in range(1,11):
    if i%5==0:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(5):
    pass

print('Nothing done')

Nothing done

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 11 - Loops Quiz**

score = 0

print("üîÅ Welcome to the Loops Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which loop is used to iterate over a sequence?\n"
"(a) while\n"
"(b) for\n"
"(c) loop\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! for loop iterates over sequences.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: for loop is used with lists, ranges, etc.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What does range(5) generate?\n"
"(a) 1 to 5\n"
"(b) 0 to 5\n"
"(c) 0 to 4\n"
"Your answer: "
)

if q2.lower() == "c":
    score += 1
    print("‚úÖ Correct! range(5) gives 0 to 4.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: range is zero-based.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which loop runs as long as condition is True?\n"
"(a) for\n"
"(b) while\n"
"(c) repeat\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! while loop runs while condition is True.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: while depends on a boolean condition.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does 'break' do?\n"
"(a) Skip current iteration\n"
"(b) Exit the loop\n"
"(c) Restart loop\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! break exits the loop.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: break stops the loop immediately.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: What does 'continue' do?\n"
"(a) Exit loop\n"
"(b) Skip current iteration\n"
"(c) Stop program\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! continue skips current iteration.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: continue moves to next loop cycle.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: When is the 'else' block in a loop executed?\n"
"(a) When break is used\n"
"(b) When loop finishes normally\n"
"(c) Always\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! else runs if loop ends normally.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: else does NOT run if break stops the loop.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What does 'pass' do inside a loop?\n"
"(a) Skips iteration\n"
"(b) Does nothing\n"
"(c) Stops loop\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! pass does nothing.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: pass is a placeholder statement.")

# ------------------ Q8 ------------------
q8 = input(
"\nQ8: What kind of loop can become infinite?\n"
"(a) for loop only\n"
"(b) while loop\n"
"(c) Both\n"
"Your answer: "
)

if q8.lower() == "c":
    score += 1
    print("‚úÖ Correct! Both can be infinite if condition never stops.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Any loop can become infinite if not controlled.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/8\n")

if score == 8:
    print("üî• Excellent! You understand loops very well.")
elif score >= 5:
    print("üëç Good job! Review break, continue, and else.")
else:
    print("üìò Revise for and while loop concepts.")

#**Section 12- Functions**<a name='functions'></a>

**What are Functions?**

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time. Also functions are a key way to define interfaces so programmers can share their code.

**How do you write functions in Python?**

As we have seen on previous tutorials, Python makes use of blocks.
A block is a area of code of written in the format of:

block_head:

    1st block line
    
    2nd block line
    ...


Where a block line is more Python code (even another block), and the block head is of the following format:

block_keyword

block_name(argument1, argument2, ...)

Block keywords you already know are **`if`**, **`for`**, and **`while`**.

**Functions in python are defined using the block keyword** **`def`**, followed with the function's name as the block's name. For example:

In [24]:
def my_function():
    print("Hello From My Function!")

In [ ]:
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

In [ ]:
def sum_two_numbers(a, b):
    return a + b

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

##**12.1 Call function**<a name='call_functions'></a>
Simply write the function's name followed by `()`, placing any required arguments within the brackets. For example, lets call the functions written above (in the previous example):

In [ ]:
# print(a simple greeting)
my_function()

Hello from a function

In [ ]:
my_function_with_args("John Doe", "a great year!")

Hello, John Doe , From My Function!, I wish you a great year!

In [ ]:
sum_two_numbers(1, 2)

3

##**12.2 Arguments**<a name='arguments'></a>

In [ ]:
def my_function(fname):
            print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

## **12.3 Define a function with unlimited inputs**<a name='define_function'></a>

In [ ]:
# define a function (take max 2 inputs)
def add(x,y):
 #add two numbers
 result=x+y
 print(f'Reuslt:{result}')

In [ ]:
#define a function (Take unlimited inputs

def add (*args):
 # initialize result at 0
 result =0
 # iterate over args tuple
 for arg in arg:
      result +=arg
 #print the result
 print (f'Result:{result}')

In [ ]:
add(1,2)

## **12.4 Function types**

**1- Digression: Lambda Functions**

In [ ]:
def some_func(x):
    return 'Hello World ' + str(x)

some_func(123)

'Hello World 123'

In [ ]:
f = lambda x: 'Hello World ' + str(x)
f(123)

'Hello World 123'

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 12 - Functions Quiz**

score = 0

print("üß© Welcome to the Functions Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which keyword is used to define a function in Python?\n"
"(a) function\n"
"(b) define\n"
"(c) def\n"
"Your answer: "
)

if q1.lower() == "c":
    score += 1
    print("‚úÖ Correct! 'def' is used to define functions.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Functions start with 'def' keyword.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What does the 'return' keyword do?\n"
"(a) Prints value\n"
"(b) Sends value back to caller\n"
"(c) Stops program\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! return sends value back.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: return gives output back to where function was called.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: How do you call a function named hello?\n"
"(a) call hello\n"
"(b) hello()\n"
"(c) run hello\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! Use function name followed by ().")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Functions are called using ().")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does *args allow in a function?\n"
"(a) Only one argument\n"
"(b) Unlimited number of arguments\n"
"(c) No arguments\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! *args allows unlimited inputs.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: *args collects multiple arguments into a tuple.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: What is a lambda function?\n"
"(a) A named function\n"
"(b) A short anonymous function\n"
"(c) A loop\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! Lambda is a small anonymous function.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Lambda functions are short one-line functions.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: What happens if a function has no return statement?\n"
"(a) Error\n"
"(b) Returns None\n"
"(c) Returns 0\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! It returns None by default.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Functions return None if nothing is returned.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: Why are functions useful?\n"
"(a) Make code longer\n"
"(b) Improve readability and reuse\n"
"(c) Replace loops\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! Functions improve structure and reuse.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Functions make code modular and reusable.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand Python functions very well.")
elif score >= 4:
    print("üëç Good job! Review return and *args concepts.")
else:
    print("üìò Revise function basics and try again.")

#**Section 13- Classes and Objects**<a name='class'></a>

Objects are an encapsulation of variables and functions into a single entity. Objects get their variables and functions from classes. Classes are essentially a template to create your objects.

## **13.1 How to define a Class in Python?**<a name='define_class'></a>

In [ ]:
class ClassName:
    # Class body

**Example**

In [26]:
class MyClass:
      x = 5

In [27]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

## **13.2 Create Objects from Class in Python**<a name='define-object'></a>

We'll explain why you have to include that **`self`** as a parameter a little bit later. First, to assign the above class(template) to an object you would do the following:

In [ ]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

Now the variable **`myobjectx`** holds an object of the class **`MyClass`** that contains the variable and the function defined within the class called **`MyClass`**

In [ ]:
p1 = MyClass()
print(p1.x)

5

## **13.3 Accessing Object Variables**<a name='access-obj-variable'></a>
To access the variable inside of the newly created object **`myobjectx`** you would do the following:

In [ ]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.variable

So for instance the below would output the string `blah`:

In [ ]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

print(myobjectx.variable)

You can create multiple different objects that are of the same class(have the same variables and functions defined). However, each object contains independent copies of the variables defined in the class. For instance, if we were to define another object with the **`MyClass`** class and then change the string in the variable above:

In [ ]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "yackity"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

##**13.4 Accessing Object Functions**<a name='access-obj-function'></a>
To access a function inside of an object you use notation similar to accessing a variable:

In [ ]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.function()

We have a class defined for vehicles. Create two new vehicles called **`car1`** and **`car2`**. Set `car1` to be a `red convertible` worth `$60,000.00` with a name of `Fer`, and `car2` to be a `blue van` named `Jump` worth `$10,000.00.`

In [ ]:
# define the Vehicle class
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

# your code goes here
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

# test code
print(car1.description())
print(car2.description())

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 13 - Classes and Objects Quiz**

score = 0

print("üèó Welcome to the Classes & Objects Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: What is a class in Python?\n"
"(a) An object\n"
"(b) A template to create objects\n"
"(c) A loop\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! A class is a template.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Classes are blueprints for objects.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What is an object?\n"
"(a) Instance of a class\n"
"(b) A function\n"
"(c) A variable\n"
"Your answer: "
)

if q2.lower() == "a":
    score += 1
    print("‚úÖ Correct! Object is instance of class.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Objects are created from classes.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which keyword is used to define a class?\n"
"(a) define\n"
"(b) def\n"
"(c) class\n"
"Your answer: "
)

if q3.lower() == "c":
    score += 1
    print("‚úÖ Correct! 'class' defines a class.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Use 'class ClassName:'")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does 'self' represent inside a class method?\n"
"(a) The class\n"
"(b) The object itself\n"
"(c) A global variable\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! self refers to the current object.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: self gives access to object variables.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: How do you create an object from class MyClass?\n"
"(a) obj = MyClass\n"
"(b) obj = MyClass()\n"
"(c) obj = new MyClass()\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! Use parentheses to create object.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Object creation requires MyClass().")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: How do you access a method of an object?\n"
"(a) object.method\n"
"(b) object.method()\n"
"(c) method(object)\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! Use object.method().")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Methods require parentheses to execute.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: Can two objects of the same class have different variable values?\n"
"(a) No\n"
"(b) Yes\n"
"(c) Only sometimes\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! Each object has its own copy of variables.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Objects are independent instances.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand OOP basics very well.")
elif score >= 4:
    print("üëç Good job! Review self and object creation.")
else:
    print("üìò Revise class and object concepts.")

# **Section 14- Dictionaries**<a name='dictionary'></a>

A dictionary is a data type similar to arrays, but works with keys and values instead of indexes. Each value stored in a dictionary can be accessed using a key, which is any type of object (a string, a number, a list, etc.) instead of using its index to address it.

For example, a database of phone numbers could be stored using a dictionary like this:

In [ ]:
phonebook = {}     # You can create an empty dictionary to store key-values dynamically

phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

Alternatively, a dictionary can be initialized with the same values in the following notation:

In [ ]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

## **14.1 Creating a dictionary**<a name='create_dictionary'></a>

In [ ]:
# create a dictionary using {}
person = {"name": "Jessa", "country": "USA", "telephone": 1178}

print(person)
# output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [ ]:
# create a dictionary using dict()
person = dict({"name": "Jessa", "country": "USA", "telephone": 1178})


print(person)
# output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [ ]:
# create a dictionary from sequence having each item as a pair
person = dict([("name", "Mark"), ("country", "USA"), ("telephone", 1178)])

print(person)

{'name': 'Mark', 'country': 'USA', 'telephone': 1178}

In [ ]:
# create dictionary with mixed keys
# first key is string and second is an integer

sample_dict = {"name": "Jessa", 10: "Mobile"}

print(sample_dict)
# output {'name': 'Jessa', 10: 'Mobile'

{'name': 'Jessa', 10: 'Mobile'}

## **14.2 Common operation**<a name='common_operations'></a>

**Adding Items dynamically:**

In [ ]:
my_dict = {}
my_dict["gender"] = "Male"

### **Iterating over dictionaries**

Dictionaries can be iterated over, just like a list. However, a dictionary, unlike a list, does not keep the order of the values stored in it. To iterate over key value pairs, use the following syntax:

In [ ]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}

for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

## **14.3 Removing a value**<a name='removing_value'></a>
 To remove a specified index, use either one of the following notations:

In [ ]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}

del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

**Checking if a Key Exists:**

In [ ]:
if "age" in my_dict:
 print("Age is present.")

##**14.3 Exercise**<a name='exercise'></a>
Add `"Jake"` to the phonebook with the phone number `938273443`, and remove `"Jill"` from the phonebook.

In [ ]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

# write your code here
phonebook["Jake"] = 938273443
del phonebook["Jill"]

# testing code
if "Jake" in phonebook:
    print("Jake is listed in the phonebook.")
if "Jill" not in phonebook:
    print("Jill is not listed in the phonebook.")

Jake is listed in the phonebook.
Jill is not listed in the phonebook.

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 14 - Dictionaries Quiz**

score = 0

print("üìö Welcome to the Dictionaries Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: A dictionary stores data using:\n"
"(a) Indexes only\n"
"(b) Keys and values\n"
"(c) Positions\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! Dictionaries use key-value pairs.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Dictionaries work with keys and values.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: How do you access a value in a dictionary?\n"
"(a) dict[0]\n"
"(b) dict(key)\n"
"(c) dict['key']\n"
"Your answer: "
)

if q2.lower() == "c":
    score += 1
    print("‚úÖ Correct! Use dict['key'] to access value.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Values are accessed using their keys inside [].")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which keyword is used to remove a key from dictionary?\n"
"(a) delete\n"
"(b) del\n"
"(c) remove\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'del' removes a key.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Use del dictionary['key'].")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: How do you check if a key exists in dictionary?\n"
"(a) key in dict\n"
"(b) key == dict\n"
"(c) dict.has(key)\n"
"Your answer: "
)

if q4.lower() == "a":
    score += 1
    print("‚úÖ Correct! Use 'key in dictionary'.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'in' checks key existence.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: What does dictionary.items() return?\n"
"(a) Only keys\n"
"(b) Only values\n"
"(c) Key-value pairs\n"
"Your answer: "
)

if q5.lower() == "c":
    score += 1
    print("‚úÖ Correct! items() returns key-value pairs.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: items() gives both key and value.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: Can dictionary keys be different data types?\n"
"(a) No\n"
"(b) Yes\n"
"(c) Only strings\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! Keys can be string, number, etc.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Dictionary keys can be different immutable types.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: Which method is used to iterate over key-value pairs?\n"
"(a) dict.values()\n"
"(b) dict.keys()\n"
"(c) dict.items()\n"
"Your answer: "
)

if q7.lower() == "c":
    score += 1
    print("‚úÖ Correct! items() is used in loops.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Use for key, value in dict.items().")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/7\n")

if score == 7:
    print("üî• Excellent! You understand dictionaries very well.")
elif score >= 4:
    print("üëç Good job! Review dictionary operations.")
else:
    print("üìò Revise dictionary basics and try again.")

# **Section 15- List**<a name='list'></a>

## **15.1 List creation**<a name='list_creation'></a>

In [ ]:
my_list = [1, 2, 3, 'hello', True]

You can also create empty list and then append means add items dynamically using `.append()` method.

The `.append()` method only adds one item at a time, but that item can be any type (like a string, a number, or even another list).

In [ ]:
mylist = []

mylist.append("a")
mylist.append("b")
mylist.append("c")

print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

a
b
c

In [ ]:
# prints out 1,2,3
for x in mylist:
    print(x)

a
b
c

In [ ]:
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

List of numbers:
[10, 20, 14]

## **15.2 Basic Operations on Lists**<a name='basic_operation_list'></a>

**Accessing Elements:**

In [ ]:
# Python program to demonstrate
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["Geeks", "For", "Geeks"]

# accessing a element from the
# list using index number
print("Accessing a element from the list")
print(List[0])
print(List[2])

Accessing a element from the list
Geeks
Geeks

In [ ]:
first_element = my_list[0]

In [ ]:
# Accessing an index which does not exist generates an exception (an IndexError).
mylist = [1,2,3]
print(mylist[10])

IndexError: ignored

In [ ]:
my_list=list('abcc')
my_list.index('c')

2

In [ ]:
my_list.reverse()
my_list

['a', 'b', 'c', 'c']

In [ ]:
lst1 =[1,2,3]
list2= [4,5,6]
lst1.append(list2)

 If you need to add multiple items at once, use `list.extend()` or a list comprehension.

In [ ]:
lst1.extend (list2)

## **15.3 Accessing elements from a multi-dimensional list**<a name='access_element'></a>

In [ ]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'], ['Geeks']]

# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from a Multi-Dimensional list
For
Geeks

**Slicing:**

In [ ]:
subset = my_list[1:4] # Retrieves elements at indices 1, 2, and 3
subset

['b', 'c', 'c']

**Modifying Elements:**

In [ ]:
my_list[2] = 'new_value'
my_list

['a', 'b', 'new_value', 'c']

## **15.4 Adding and Removing Elements:**<a name='add_remove_element'></a>

In [ ]:
my_list.append(4)  # adds element at the end of the list
my_list

['a', 'b', 'new_value', 'c', 4, 4]

In [ ]:
my_list.insert(2, 'inserted_value')  # .insert to add element at specific index
my_list

['a', 'b', 'inserted_value', 'new_value', 'c', 4, 4]

In [ ]:
my_list.remove('hello')
my_list

ValueError: ignored

In [ ]:
poped_element = my_list.pop(1)  # pops out element at given index

In [ ]:
poped_element

'b'

## **15.5 Advanced List Operations:**<a name='advanced_list_operations'></a>

In [ ]:
squares = [x**2 for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [ ]:
list1 =[1,2,3]
list2= [4,5,6]

In [ ]:
combined_list = list1 + list2
repeated_list = my_list * 3

In [ ]:
combined_list
repeated_list

['a',
 'inserted_value',
 'new_value',
 'c',
 4,
 4,
 'a',
 'inserted_value',
 'new_value',
 'c',
 4,
 4,
 'a',
 'inserted_value',
 'new_value',
 'c',
 4,
 4]

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 15 - Lists Quiz**

score = 0

print("üìã Welcome to the Lists Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: Which brackets are used to create a list?\n"
"(a) {}\n"
"(b) []\n"
"(c) ()\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! Lists use square brackets [].")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Lists are created using [].")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: What does list.append(x) do?\n"
"(a) Adds element at beginning\n"
"(b) Adds element at end\n"
"(c) Removes element\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! append() adds item to the end.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: append() adds element at the end of list.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: What happens if you access an index that does not exist?\n"
"(a) Returns None\n"
"(b) IndexError\n"
"(c) ValueError\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! It raises IndexError.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Accessing invalid index gives IndexError.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does list.remove(x) do?\n"
"(a) Removes first occurrence of x\n"
"(b) Removes by index\n"
"(c) Clears entire list\n"
"Your answer: "
)

if q4.lower() == "a":
    score += 1
    print("‚úÖ Correct! remove() removes first matching value.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: remove() deletes first matching element.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: What does list.pop(1) do?\n"
"(a) Removes element at index 1\n"
"(b) Removes value 1\n"
"(c) Removes last element only\n"
"Your answer: "
)

if q5.lower() == "a":
    score += 1
    print("‚úÖ Correct! pop(index) removes by index.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: pop(1) removes element at index 1.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: What does slicing my_list[1:4] return?\n"
"(a) Elements 1,2,3\n"
"(b) Elements 1,2,3,4\n"
"(c) Only index 4\n"
"Your answer: "
)

if q6.lower() == "a":
    score += 1
    print("‚úÖ Correct! It returns elements from index 1 to 3.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: End index is excluded.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What does list1 + list2 do?\n"
"(a) Multiplies lists\n"
"(b) Combines lists\n"
"(c) Deletes list2\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! + concatenates lists.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: + joins two lists together.")

# ------------------ Q8 ------------------
q8 = input(
"\nQ8: What does [x**2 for x in range(5)] create?\n"
"(a) Loop\n"
"(b) List comprehension\n"
"(c) Dictionary\n"
"Your answer: "
)

if q8.lower() == "b":
    score += 1
    print("‚úÖ Correct! This is a list comprehension.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: It creates a new list using comprehension.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/8\n")

if score == 8:
    print("üî• Excellent! You understand Python lists very well.")
elif score >= 5:
    print("üëç Good job! Review slicing and list methods.")
else:
    print("üìò Revise list basics and try again.")

#**Section 16- Modules and Packages**<a name='module_package'></a>

In programming, a module is a piece of software that has a specific functionality. For example, when building a ping pong game, one module would be responsible for the game logic, and
another module would be responsible for drawing the game on the screen. Each module is a different file, which can be edited separately.

## **16.1 Writing modules**<a name='module_writing'></a>
Modules in Python are simply Python files with a .py extension. The name of the module will be the name of the file. A Python module can have a set of functions, classes or variables defined and implemented. In the example above, we will have two files, we will have:

### **Example 1**

In [ ]:
%%writefile math_operations.py
def add(x, y):
    return x + y
def subtract(x, y):
   return x - y
def multiply(x, y):
   return x * y

Writing math_operations.py

In [ ]:
# main.py
import math_operations

result_add = math_operations.add(5, 3)
result_subtract = math_operations.subtract(8, 2)
result_multiply = math_operations.multiply(4, 6)

print("Addition:", result_add)
print("Subtraction:", result_subtract)
print("Multiplication:", result_multiply)

Addition: 8
Subtraction: 6
Multiplication: 24

In [ ]:
! python math_operations.py

### **Example 2**

In [ ]:
mygame/
mygame/game.py
mygame/draw.py

The Python script game.py will implement the game. It will use the function draw_game from the file draw.py, or in other words, thedraw module, that implements the logic for drawing the game on the screen.

Modules are imported from other modules using the import command. In this example, the game.py script may look something like this:

In [ ]:
# game.py
# import the draw module
import draw

def play_game():
    ...

def main():
    result = play_game()
    draw.draw_game(result)

# this means that if this script is executed, then
# main() will be executed
if __name__ == '__main__':
    main()

The draw module may look something like this:

In [ ]:
# draw.py

def draw_game():
    ...

def clear_screen(screen):

In this example, the game module imports the `draw module`, which enables it to use functions implemented in that module.

The main function would use the local function `play_game` to run the game, and then draw the result of the game using a function implemented in the draw module called `draw_game`. To use the function `draw_game` from the draw module, we would need to specify in which module the function is implemented, using the `dot operator`. To reference the `draw_game` function from the game module, we would need to import the draw module and only then call `draw.draw_game()`.

When the import draw directive will run, the Python interpreter will look for a file in the directory which the script was executed from, by the name of the module with a `.py` prefix, so in our case it will try to look for `draw.py` If it will find one, it will import it. If not, he will continue to look for built-in modules.

You may have noticed that when importing a module, a `.py` file appears, which is a compiled Python file. Python compiles files into Python bytecode so that it won't have to parse the files each time modules are loaded. If a `.py` file exists, it gets loaded instead of the `.py` file, but this process is transparent to the user.

### **Example 3**

In [ ]:
# my_module.py
def greet(name):
 return f"Hello, {name}!"

In [ ]:
# main_script.py
import my_module

In [ ]:
result = my_module.greet("Alice")
print(result)

## **16.2 Importing module objects to the current namespace**<a name='importing_modules'></a>

We may also import the function` draw_game` directly into the main script's namespace, by using the `from` command.

In [ ]:
# game.py
# import the draw module
from draw import draw_game

def main():
    result = play_game()
    draw_game(result)

You may have noticed that in this example, `draw_game` does not precede with the name of the module it is imported from, because we've specified the module name in the `import` command.

The advantages of using this notation is that it is easier to use the functions inside the current module because you don't need to specify which module the function comes from. However, any namespace cannot have two objects with the exact same name, so the `import` command may replace an existing object in the namespace.

## **16.3 Importing all objects from a module**<a name='importing_obj'></a>
We may also use the `import *` command to import all objects from a specific module, like this:

In [ ]:
# game.py
# import the draw module
from draw import *

def main():
    result = play_game()
    draw_game(result)

## **16.4 Custom import name**<a name='custom_name'></a>

We may also load modules under any name we want. This is useful when we want to import a module conditionally to use the same name in the rest of the code.

For example, if you have two `draw` modules with slighty different names - you may do the following:

In [ ]:
# game.py
# import the draw module
if visual_mode:
    # in visual mode, we draw using graphics
    import draw_visual as draw
else:
    # in textual mode, we print out text
    import draw_textual as draw

def main():
    result = play_game()
    # this can either be visual or textual depending on visual_mode
    draw.draw_game(result)

## **16.5 Module initialization**<a name='module_initial'></a>
The first time a module is loaded into a running Python script, it is initialized by executing the code in the module once. If another module in your code imports the same module again, it will not be loaded twice but once only - so local variables inside the module act as a **`singleton`** - they are initialized only once.

This is useful to know, because this means that you can rely on this behavior for initializing objects. For example:

In [ ]:
# draw.py

def draw_game():
    # when clearing the screen we can use the main screen object initialized in this module
    clear_screen(main_screen)
    ...

def clear_screen(screen):
    ...

class Screen():
    ...

# initialize main_screen as a singleton
main_screen = Screen()

## **16.6 Extending module load path**<a name='module_load_path'></a>

There are a couple of ways we could tell the Python interpreter where to look for modules, aside from the default, which is the local directory and the built-in modules. You could either use the environment variable **`PYTHONPATH`** to specify additional directories to look for modules in, like this:

In [ ]:
PYTHONPATH=/foo python game.py

This will execute `game.py`, and will enable the script to load modules from the `foo` directory as well as the local directory.

Another method is the **`sys.path.append`** function. You may execute it before running an `import` command:

In [ ]:
sys.path.append("/foo")

This will add the `foo` directory to the list of paths to look for modules in as well.

## **16.7 Exploring built-in modules**<a name='built_in_modules'></a>

Check out the full list of built-in modules in the Python standard library here.

Two very important functions come in handy when exploring modules in Python - the dir and help functions.

If we want to import the module **`urllib`**, which enables us to create read data from URLs, we simply import the module:

In [ ]:
# import the library
import urllib

# use it
urllib.urlopen(...)

When we find the function in the module we want to use, we can read about it more using the `help` function, inside the Python interpreter:

In [ ]:
help(urllib.urlopen)

## **16.8 Writing packages**<a name='writing_packages'></a>

**Packages** are namespaces which contain multiple packages and modules themselves. They are simply directories, but with a twist.

Each package in Python is a directory which MUST contain a special file called **`__init__.py`**. This file can be empty, and it indicates that the directory it contains is a Python `package`, so it can be imported the same way a module can be imported.

If we create a directory called `foo`, which marks the package name, we can then create a module inside that package called `bar`. We also must not forget to add the **`__init__.py`** file inside the `foo` directory.

To use the module `bar`, we can import it in two ways:

To create a package, you need to follow a specific directory structure. Consider the following example:

In [ ]:
my_package/
 __init__.py
 module1.py
 module2.py

Here, `my_package` is a package containing two modules, `module1` and `module2`. The `_init_.py` file signifies that the directory should be treated as a `package`.

## **16.9 Importing Packages:**<a name='import_packages'></a>

Once a package is created, you can import it into your Python scripts using the import statement. For example:

In [ ]:
import my_package.module1

You can also import specific functions or classes from a module within a package:

In [ ]:
from my_package.module1 import function1

In [ ]:
result = module1.function_from_module1()
print(result)

In [ ]:
import os

# Create the mypackage directory
os.makedirs('mypackage', exist_ok=True)

In [ ]:
# Create the mymodule.py module
with open('mypackage/mymodule.py', 'w') as f:
    f.write('''\
def hello():
    return "Hello from mymodule!"
''')

In [ ]:
# Create the __init__.py file
with open('mypackage/__init__.py', 'w') as f:
    f.write('''\
__all__ = ["mymodule"]
''')

In [ ]:
import sys
sys.path.append('.')

In [ ]:
# Import and use the mypackage.mymodule module
import mypackage.mymodule

print(mypackage.mymodule.hello())

# Alternatively, use from mypackage import mymodule
from mypackage import mymodule

print(mymodule.hello())

Hello from mymodule!
Hello from mymodule!

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 16 - Modules and Packages Quiz**

score = 0

print("üì¶ Welcome to the Modules & Packages Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: A module in Python is:\n"
"(a) A loop\n"
"(b) A .py file\n"
"(c) A class only\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! A module is a Python file (.py).")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Modules are simply Python files.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: Which keyword is used to import a module?\n"
"(a) include\n"
"(b) import\n"
"(c) using\n"
"Your answer: "
)

if q2.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'import' loads a module.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python uses 'import' to load modules.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: What does 'from module import function' do?\n"
"(a) Imports entire module\n"
"(b) Imports specific function\n"
"(c) Deletes module\n"
"Your answer: "
)

if q3.lower() == "b":
    score += 1
    print("‚úÖ Correct! It imports a specific object.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: It brings that function into current namespace.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: What does 'import module as m' do?\n"
"(a) Deletes module\n"
"(b) Renames module locally\n"
"(c) Copies module\n"
"Your answer: "
)

if q4.lower() == "b":
    score += 1
    print("‚úÖ Correct! It assigns an alias.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'as' creates a custom import name.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: What is required inside a directory to make it a package?\n"
"(a) main.py\n"
"(b) __init__.py\n"
"(c) setup.py\n"
"Your answer: "
)

if q5.lower() == "b":
    score += 1
    print("‚úÖ Correct! __init__.py makes it a package.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Packages must contain __init__.py file.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: When a module is imported multiple times, what happens?\n"
"(a) It runs every time\n"
"(b) It initializes only once\n"
"(c) It crashes\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! Modules initialize only once.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Python loads module once per session.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: What does sys.path.append('/foo') do?\n"
"(a) Deletes path\n"
"(b) Adds new directory to search path\n"
"(c) Runs module\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! It extends module search path.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: It tells Python where to look for modules.")

# ------------------ Q8 ------------------
q8 = input(
"\nQ8: Which function helps explore module contents?\n"
"(a) show()\n"
"(b) dir()\n"
"(c) open()\n"
"Your answer: "
)

if q8.lower() == "b":
    score += 1
    print("‚úÖ Correct! dir() lists module contents.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: dir() shows available attributes.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/8\n")

if score == 8:
    print("üî• Excellent! You understand modules and packages very well.")
elif score >= 5:
    print("üëç Good job! Review import styles and packages.")
else:
    print("üìò Revise module basics and try again.")

# **Section 17- File Handling**<a name='file_handling'></a>

##**17.1 Access Modes for Reading a File**

The key function for working with files in Python is the **`open()`** function.
The **`open()`** function takes two parameters; `filename`, and `mode`. **There are four different methods (modes) for opening a file**:

| Mode | Name | Description |
| :--- | :--- | :--- |
| `"r"` | **Read** | **Default.** Opens for reading; errors if the file is missing. |
| `"a"` | **Append** | Adds to the end of the file; creates it if it doesn't exist. |
| `"w"` | **Write** | Overwrites the file; creates it if it doesn't exist. |
| `"x"` | **Create** | Creates a new file; **errors** if the file already exists. |


**Syntax:**

In [ ]:
f = open("demofile.txt")

## **17.2 Opening and Closing Files**<a name='open_close_file'></a>

The first step in file handling is opening a file for reading, writing, or both. Python's `open()` function is used to open a file, specifying the file name and mode (`'r'` for reading, `'w'` for writing, `'a'` for appending, and more). It's essential to close the file using the `close()` method once you're done with it to free up system resources.

In [ ]:
# Open a file for reading
file = open('example.txt', 'r')

In [ ]:
# Read data from the file
data = file.read()

In [ ]:
# Close the file
file.close()

## **17.3 Reading from Files**<a name='read_files'></a>

Python offers various methods for reading data from files, such as `read()`, `readline()`, and `readlines()`. These methods allow you to read the entire file, one line at a time, or all lines into a list, respectively.

The `read()` is used to return the entire file content and it accepts the optional size parameter that mentions the bytes to read from the file.

In [ ]:
# Read the entire file
file = open('example.txt', 'r')
data = file.read()
file.close()

 Using the `readline()` method, we can read a file line by line. by default, this method reads the first line in the file.

In [ ]:
# Read one line at a time
file = open('example.txt', 'r')
line = file.readline()
file.close()

While we have seen how to extract the entire file contents using the `readline()` method, we can achieve the same using the `readlines()` method. This method read file line by line into a list.

In [ ]:
# Read all lines into a list
file = open('example.txt', 'r')
lines = file.readlines()
file.close()

##  **17.4 Writing to Files**<a name='writing_files'></a>

To write data to a file, open it in write `'w'` or append `'a'` mode and use the `write()` method to write data to the file. You can also use the `writelines()` method to write a list of lines to the file.

In [ ]:
# Write data to a file
file = open('output.txt', 'w')
file.write('Hello, World!')
file.close()

In [ ]:
# Append data to a file
file = open('output.txt', 'a')
file.write('\nThis is a new line.')
file.close()

## **17.5 Handling File Errors**<a name='errors'></a>

When working with files, it's crucial to handle potential errors gracefully. Python's `try-except` block can be used to catch and handle exceptions that may occur during file operations.

In [ ]:
try:
file = open('nonexistent_file.txt', 'r')
data = file.read()
file.close()
except FileNotFoundError:
print("File not found!")

### Run the following cell to attempt quiz

In [ ]:
# @title **Section 17 - File Handling Quiz**

score = 0

print("üìÇ Welcome to the File Handling Quiz!\n")

# ------------------ Q1 ------------------
q1 = input(
"Q1: What is the default mode of open() function?\n"
"(a) w\n"
"(b) r\n"
"(c) a\n"
"Your answer: "
)

if q1.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'r' (read) is the default mode.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: open() defaults to read mode.")

# ------------------ Q2 ------------------
q2 = input(
"\nQ2: Which mode creates a file but gives error if it already exists?\n"
"(a) w\n"
"(b) a\n"
"(c) x\n"
"Your answer: "
)

if q2.lower() == "c":
    score += 1
    print("‚úÖ Correct! 'x' creates file and errors if it exists.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'x' mode prevents overwriting.")

# ------------------ Q3 ------------------
q3 = input(
"\nQ3: Which method reads the entire file content?\n"
"(a) read()\n"
"(b) readline()\n"
"(c) readlines()\n"
"Your answer: "
)

if q3.lower() == "a":
    score += 1
    print("‚úÖ Correct! read() reads entire file.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: read() returns full file content.")

# ------------------ Q4 ------------------
q4 = input(
"\nQ4: Which method reads file line by line into a list?\n"
"(a) read()\n"
"(b) readline()\n"
"(c) readlines()\n"
"Your answer: "
)

if q4.lower() == "c":
    score += 1
    print("‚úÖ Correct! readlines() returns list of lines.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: readlines() stores lines in list.")

# ------------------ Q5 ------------------
q5 = input(
"\nQ5: Which method writes data into a file?\n"
"(a) write()\n"
"(b) append()\n"
"(c) add()\n"
"Your answer: "
)

if q5.lower() == "a":
    score += 1
    print("‚úÖ Correct! write() writes to file.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: write() is used to write text.")

# ------------------ Q6 ------------------
q6 = input(
"\nQ6: What does 'a' mode do?\n"
"(a) Overwrites file\n"
"(b) Appends to file\n"
"(c) Deletes file\n"
"Your answer: "
)

if q6.lower() == "b":
    score += 1
    print("‚úÖ Correct! 'a' appends new data.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: 'a' keeps old content and adds new.")

# ------------------ Q7 ------------------
q7 = input(
"\nQ7: Why should we close a file after use?\n"
"(a) To delete it\n"
"(b) To free system resources\n"
"(c) To encrypt it\n"
"Your answer: "
)

if q7.lower() == "b":
    score += 1
    print("‚úÖ Correct! Closing frees system resources.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: Always close files to avoid resource leaks.")

# ------------------ Q8 ------------------
q8 = input(
"\nQ8: Which block is used to handle file errors?\n"
"(a) if-else\n"
"(b) try-except\n"
"(c) for loop\n"
"Your answer: "
)

if q8.lower() == "b":
    score += 1
    print("‚úÖ Correct! try-except handles exceptions.")
else:
    print("‚ùå Incorrect.")
    print("Explanation: try-except catches file errors.")

# ------------------ Final Score ------------------

print("\nüéØ Quiz Finished!")
print(f"Your final score is {score}/8\n")

if score == 8:
    print("üî• Excellent! You understand file handling very well.")
elif score >= 5:
    print("üëç Good job! Review file modes and reading methods.")
else:
    print("üìò Revise file handling basics and try again.")

# **References**

[[1] Learn Python](https://www.learnpython.org/en/Conditions)

[[2] Real-Time Face Mask Detector with Python, OpenCV, Keras](https://data-flair.training/blogs/face-mask-detection-with-python/)

[3] https://medium.com/mlpoint/numpy-for-machine-learning-211a3e58b574]

[[4] Interesting Facts About Python Programming Language](https://pub.towardsai.net/8-interesting-facts-about-python-programming-language-ff8ccba88cad#3781)


[20 Great Pandas Tricks For Data Science](https://towardsdatascience.com/20-great-pandas-tricks-for-data-science-3a6daed71da0)

[Top 5 Python IDE‚Äôs For Data Science](https://preettheman.medium.com/top-python-ides-for-data-science-c49c6056cdb4)

[Best extensions for JupyterLab!!](https://jlgjosue.medium.com/best-extensions-for-jupyterlab-185ab5f3e05c)

[5 Useful Advanced Features of Python](https://python.plainenglish.io/5-useful-advanced-features-of-python-40f0d67fff84)

[Quick Recap : 60 days of Data Science and Machine Learning Series](https://medium.com/coders-mojo/quick-recap-60-days-of-data-science-and-machine-learning-series-457ca0e98279)

[Top 10 Python Frameworks for Web Development in 2022](https://enlear.academy/top-10-python-frameworks-for-web-development-in-2022-22b37bb03c02)

[10 Tools I Wish I Knew When I Started Working with Python](https://python.plainenglish.io/10-tools-to-help-claw-your-way-back-to-sanity-while-coding-python-df0af160c33e)

[Python sheet](https://vivitoa.github.io/python-cheat-sheet/#variables)

[Clustering-And-Dimensionality-Reduction](https://github.com/spencer18001/Clustering-And-Dimensionality-Reduction---Deep-Dive/tree/main)